# App Environment
NEXT_PUBLIC_APP_URL="http://localhost:3000"
NEXT_PUBLIC_API_URL="/api"
NEXT_PUBLIC_APP_ENV="development" # development, staging, production

# Database
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/paras_plywoods?schema=public"
DIRECT_URL="postgresql://postgres:postgres@localhost:5432/paras_plywoods?schema=public"

# Auth (Placeholders)
NEXT_PUBLIC_AUTH_ENABLED="false"
AUTH_SECRET="your-super-secret-key-for-auth"
